.DS_Store
.idea
*.log
tmp/

# local env files
.env.local
.env.*.local


*.tern-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
.npm
.eslintcache


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
